In [1]:
L = [100,40,53,99,206,907]
even = []
for x in L:
    if x%2 == 0:
        even.append(x)
print(even)

[100, 40, 206]

In [11]:
L = [100,40,53,99,206,907]
odd = []
for x in L:
    if x%2 != 0:
        odd.append(x)
print(odd)

[53, 99, 907]

In [19]:
orders = [['apple', 10], ['banana', 5], ['cheery', 7], ['dragon', 10], ['grapes', 6],['apple', 15]]

for each in orders:
    if each[0] == "cherry":
        each[1] = 10
        
print(orders)

[['apple', 10], ['banana', 5], ['cheery', 7], ['dragon', 10], ['grapes', 6], ['apple', 15]]

In [23]:
orders = [['apple', 10], ['banana', 5], ['cheery', 7], ['dragon', 10], ['grapes', 6],['apple', 15]]

orders.append(["apple",15])
print(orders)

total = [ ]
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cheery', 7], ['dragon', 10], ['grapes', 6], ['apple', 15], ['apple', 15]]
[10, 15, 15]
40

In [25]:
tup1 = (4,10,9,"A",9.81, False, 9-6j)
print (tup1)
print (type(tup1))

(4, 10, 9, 'A', 9.81, False, (9-6j))
<class 'tuple'>

In [33]:
tup1 = (4,10,9,"A",9.81, False, 9-6j)
print (tup1)
print (type(tup1))
#slicing
print(tup1[2:4])

(4, 10, 9, 'A', 9.81, False, (9-6j))
<class 'tuple'>
(9, 'A')

In [ ]:
tup2 = (10,20,1,12,,26,62,25)
tup2.count(

In [7]:
scores = {'Virat' : 90,'Rohit' : 100,'Rahul' : 70,'Hardik' : 65,'Gill' : 20,'Jadeja' : 30,'Aswin' : 15,}

In [9]:
scores.update({"Jadeja":50})
scores

{'Virat' : 90,
 'Rohit' : 100,
 'Rahul' : 70,
 'Hardik' : 65,
 'Gill' : 20,
 'Jadeja' : 30,
 'Aswin' : 15,}

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 30,
 'Aswin': 15}

In [13]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Scores: ", sum(scores_list))

[90, 100, 70, 65, 20, 50, 15]
Total Scores:  410

In [9]:
list1 = [1, 8, 9, 0,10,20,78,8,8,8]
s2 = set(list1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [11]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1 & s2

{3, 4}

In [13]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1 - s2

{1, 2}

In [16]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [18]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s2.issubset(s1)

False

In [20]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s2.issuperset(s1)

False

In [22]:
str1 = "Welcome to aiml class"
print(str1)
str2 = 'We started with python'
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [24]:
print(type (str1))
print(type (str2))
print(type (str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [26]:
# slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [28]:
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [30]:
# use of join() method
reviews = ["The product is awesome", "Great Service"]
joined_string = ';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [32]:
# use of strip() method
str5 = "     Hello, How are you?      "
str5

'     Hello, How are you?      '

In [34]:
str5.strip()

'Hello, How are you?'

In [36]:
str5 = 'Hello, How are you?'
str5.lower()

'hello, how are you?'

In [38]:
str5.upper()

'HELLO, HOW ARE YOU?'

In [2]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [6]:
 print("even") if num %2 == 0 else print("odd")

even

In [9]:
num = 0
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Zero

In [13]:
L =[1,0,9,4,5,6,3,2,2]
[2*x for x in L]

[2, 0, 18, 8, 10, 12, 6, 4, 4]

In [17]:
# print even numbers
L =[1,0,9,4,5,6,3,2,2]
[x for x in L if x%2 == 0]

[0, 4, 6, 2, 2]

In [19]:
# print odd numbers
L =[1,0,9,4,5,6,3,2,2]
[x for x in L if x%2 != 0]

[1, 9, 5, 3]

In [27]:
L =[1,0,9,4,5,6,3,2]
sum([ x for x in L])/len(L)

3.75

In [31]:
d1 = {'Sujeeth': [70,71,98,100], 'Jhon': [56,34,33,78,28]}
{k:sum(v)/len(v) for k,v in d1.items()}

{'Sujeeth': 84.75, 'Jhon': 45.8}